/vendor/
/node_modules/
.env
/public/storage
/storage/*.key
.idea/
.vscode/
npm-debug.log
yarn-error.log

echo "# stem" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/mvnz/stem.git
git push -u origin main